# Section

## STEG 1: Download and prep data

In [1]:
import pandas as pd

In [2]:
df_151715 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2015.xls')
df_151716 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2016.xls')
df_151717 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2017.xls') 
df_151718 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2018.xls')
df_151719 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2019.xls')
df_151720 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2020.xlsx')
df_151721 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2021.xls')

def fix_df1521(df):
    first_col = df.columns[0]
    df = df.set_index(first_col)

    def get_one(keyword):
        hits = df[df.index.str.contains(keyword, case=False, na=False)]
        if len(hits) == 0:
            return None
        return hits.iloc[[0]]  

    rows = [
        get_one('Rån inkl.'),                     
        get_one('Olaga hot'),
        get_one('Misshandel, totalt'),
        get_one('Misshandel inkl. grov'),
        get_one('Skadegörelsebrott'),
        get_one('Sexualbrott'),
        get_one('narkotikastraf'),
    ]

    df_out = pd.concat([r for r in rows if r is not None], axis=0)

    df_out = df_out.reset_index()
    return df_out


df_151715 = fix_df1521(df_151715)
df_151716 = fix_df1521(df_151716)
df_151717 = fix_df1521(df_151717)
df_151718 = fix_df1521(df_151718)
df_151719 = fix_df1521(df_151719)
df_151720 = fix_df1521(df_151720)
df_151721 = fix_df1521(df_151721)

'''Ny datafunktion nedan'''

df_151722 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2022.xlsx')
df_151723 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2023.xlsx')
df_151724 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2024.xlsx')

def fix_df2224(df):
    df.columns = df.iloc[0]
    df = df.iloc[1:].reset_index(drop=True)
    df_robbery = df.loc[df['Brottstyp'] == 'Rån, totalt']
    df_unlawful_threats = df.loc[df['Brottstyp'] == 'Olaga hot, totalt']
    df_physical_abuse = df.loc[df['Brottstyp'] == 'Misshandel, totalt']
    df_physical_abuse_nonfatal = df.loc[df['Brottstyp'] == 'Misshandel, ej med dödlig utgång, totalt']
    df_damage = df.loc[df['Brottstyp'] == 'Skadegörelsebrott, totalt']
    df_sexual_offence = df.loc[df['Brottstyp'] == 'Sexualbrott, totalt']
    df_drugs = df.loc[df['Brottstyp'] == 'Narkotikastrafflagen, totalt']
    df = pd.concat([
        df_robbery,
        df_unlawful_threats,
        df_physical_abuse,
        df_physical_abuse_nonfatal,
        df_damage,
        #df_weapon,
        df_sexual_offence,
        df_drugs
    ], ignore_index=True)    
    return df
    
df_151722 = fix_df2224(df_151722)
df_151723 = fix_df2224(df_151723)
df_151724 = fix_df2224(df_151724)

In [3]:
def clean_simple(df):
    df = df.rename(columns={df.columns[0]: "Brottstyp"})
    
    df = df.iloc[:, :9]

    df.columns = [
        "Brottstyp",
        "Samtliga personer misstänkta för brott",
        "15 år",
        "16 år",
        "17 år",
        "18 år",
        "19 år",
        "20 år",
        "21-24 år"
    ]
    
    return df
    
df_151715 = clean_simple(df_151715) # Check 
df_151716 = clean_simple(df_151716) # Check
df_151717 = clean_simple(df_151717) # Check
df_151718 = clean_simple(df_151718) # Check
df_151719 = clean_simple(df_151719) # Check
df_151720 = clean_simple(df_151720) # Check
df_151721 = clean_simple(df_151721) # Check

In [4]:
df_151724 = df_151724.iloc[:,1:]
df_151723 = df_151723.iloc[:,1:]
df_151722 = df_151722.iloc[:,1:]

df_151724 = clean_simple(df_151724)
df_151723 = clean_simple(df_151723)
df_151722 = clean_simple(df_151722)

In [5]:
def pop_column(df):
    df = df.drop(columns=["Samtliga personer misstänkta för brott"])
    df["Totalt"] = df.iloc[:, 1:].sum(axis=1) 
    return df

df_151715 = pop_column(df_151715)
df_151716 = pop_column(df_151716)
df_151717 = pop_column(df_151717)
df_151718 = pop_column(df_151718)
df_151719 = pop_column(df_151719)
df_151720 = pop_column(df_151720)
df_151721 = pop_column(df_151721)
df_151724 = pop_column(df_151724)
df_151723 = pop_column(df_151723)
df_151722 = pop_column(df_151722)

In [84]:
df_151715

,Brottstyp,15 år,16 år,17 år,18 år,19 år,20 år,21-24 år,Totalt
0,"Rån inkl. grovt (5, 6 §)",149,172.0,198.0,190.0,158.0,146.0,406,1419.0
1,Olaga hot (5 §),577,529.0,556.0,485.0,486.0,510.0,1978,5121.0
2,"Misshandel inkl. grov, ej med dödlig utgång (5...",1269,1151.0,1173.0,1263.0,1213.0,1232.0,4790,12091.0
3,12 kap. Skadegörelsebrott,525,540.0,484.0,447.0,456.0,399.0,1607,4458.0
4,6 kap. Sexualbrott,236,225.0,225.0,192.0,179.0,202.0,696,1955.0
5,Brott mot narkotikastrafflagen,871,1289.0,1683.0,2137.0,2291.0,2415.0,8868,19554.0

## STEG 2: Skapa tidsserien X(t) för varje brottstyp

In [85]:
cols = ['Rån', 'Olaga hot', 'Misshandel', 'Skadegörelsebrott', 'Sexualbrott', 'Narkotikastrafflagen']
years = list(range(2015,2025))

df = pd.DataFrame(index=years, columns=cols)
df.index.name = "År"    # om du vill att indexet får etiketten År

df = pd.DataFrame(index=years, columns=cols)

data = {
    'Rån': [1419, 1607, 1518, 1872, 1909, 2358, 1897, 1537, 1648, 1485],
    'Olaga hot': [5121, 5488, 5176, 5196, 5325, 5507, 4892, 4582, 4589, 4777],
    'Misshandel': [12091, 12280, 11541, 11076, 11081, 11504, 10096, 9833, 10247, 10868],
    'Skadegörelsebrott': [4458, 4550, 4626, 4003, 3719, 4004, 3473, 2960, 2859, 2754],
    'Sexualbrott': [1955, 2256, 2610, 2744, 2899, 3069, 3268, 2957, 2989, 3116],
    'Narkotikastrafflagen': [19554, 19173, 21635, 23623, 25217, 26112, 24918, 24782, 24640, 24016]
}

df = pd.DataFrame(data, index=years)
df

,Rån,Olaga hot,Misshandel,Skadegörelsebrott,Sexualbrott,Narkotikastrafflagen
2015,1419,5121,12091,4458,1955,19554
2016,1607,5488,12280,4550,2256,19173
2017,1518,5176,11541,4626,2610,21635
2018,1872,5196,11076,4003,2744,23623
2019,1909,5325,11081,3719,2899,25217
2020,2358,5507,11504,4004,3069,26112
2021,1897,4892,10096,3473,3268,24918
2022,1537,4582,9833,2960,2957,24782
2023,1648,4589,10247,2859,2989,24640
2024,1485,4777,10868,2754,3116,24016