# Section

## STEG 1: Download and prep data

In [1]:
import pandas as pd

In [2]:
df_151715 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2015.xls')
df_151716 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2016.xls')
df_151717 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2017.xls') 
df_151718 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2018.xls')
df_151719 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2019.xls')
df_151720 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2020.xlsx')
df_151721 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2021.xls')

def fix_df1521(df):
    first_col = df.columns[0]
    df = df.set_index(first_col)

    def get_one(keyword):
        hits = df[df.index.str.contains(keyword, case=False, na=False)]
        if len(hits) == 0:
            return None
        return hits.iloc[[0]]  

    rows = [
        get_one('Rån inkl.'),                     
        get_one('Olaga hot'),
        get_one('Misshandel, totalt'),
        get_one('Misshandel inkl. grov'),
        get_one('Skadegörelsebrott'),
        get_one('Sexualbrott'),
        get_one('narkotikastraf'),
    ]

    df_out = pd.concat([r for r in rows if r is not None], axis=0)

    df_out = df_out.reset_index()
    return df_out


df_151715 = fix_df1521(df_151715)
df_151716 = fix_df1521(df_151716)
df_151717 = fix_df1521(df_151717)
df_151718 = fix_df1521(df_151718)
df_151719 = fix_df1521(df_151719)
df_151720 = fix_df1521(df_151720)
df_151721 = fix_df1521(df_151721)

'''Ny datafunktion nedan'''

df_151722 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2022.xlsx')
df_151723 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2023.xlsx')
df_151724 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2024.xlsx')

def fix_df2224(df):
    df.columns = df.iloc[0]
    df = df.iloc[1:].reset_index(drop=True)
    df_robbery = df.loc[df['Brottstyp'] == 'Rån, totalt']
    df_unlawful_threats = df.loc[df['Brottstyp'] == 'Olaga hot, totalt']
    df_physical_abuse = df.loc[df['Brottstyp'] == 'Misshandel, totalt']
    df_physical_abuse_nonfatal = df.loc[df['Brottstyp'] == 'Misshandel, ej med dödlig utgång, totalt']
    df_damage = df.loc[df['Brottstyp'] == 'Skadegörelsebrott, totalt']
    df_sexual_offence = df.loc[df['Brottstyp'] == 'Sexualbrott, totalt']
    df_drugs = df.loc[df['Brottstyp'] == 'Narkotikastrafflagen, totalt']
    df = pd.concat([
        df_robbery,
        df_unlawful_threats,
        df_physical_abuse,
        df_physical_abuse_nonfatal,
        df_damage,
        #df_weapon,
        df_sexual_offence,
        df_drugs
    ], ignore_index=True)    
    return df
    
df_151722 = fix_df2224(df_151722)
df_151723 = fix_df2224(df_151723)
df_151724 = fix_df2224(df_151724)

In [3]:
def clean_simple(df):
    df = df.rename(columns={df.columns[0]: "Brottstyp"})
    
    df = df.iloc[:, :9]

    df.columns = [
        "Brottstyp",
        "Samtliga personer misstänkta för brott",
        "15 år",
        "16 år",
        "17 år",
        "18 år",
        "19 år",
        "20 år",
        "21-24 år"
    ]
    
    return df
    
df_151715 = clean_simple(df_151715) # Check 
df_151716 = clean_simple(df_151716) # Check
df_151717 = clean_simple(df_151717) # Check
df_151718 = clean_simple(df_151718) # Check
df_151719 = clean_simple(df_151719) # Check
df_151720 = clean_simple(df_151720) # Check
df_151721 = clean_simple(df_151721) # Check

In [4]:
df_151724 = df_151724.iloc[:,1:]
df_151723 = df_151723.iloc[:,1:]
df_151722 = df_151722.iloc[:,1:]

df_151724 = clean_simple(df_151724)
df_151723 = clean_simple(df_151723)
df_151722 = clean_simple(df_151722)

In [5]:
def pop_column(df):
    df = df.drop(columns=["Samtliga personer misstänkta för brott"])
    return df

df_151715 = pop_column(df_151715)
df_151716 = pop_column(df_151716)
df_151717 = pop_column(df_151717)
df_151718 = pop_column(df_151718)
df_151719 = pop_column(df_151719)
df_151720 = pop_column(df_151720)
df_151721 = pop_column(df_151721)
df_151724 = pop_column(df_151724)
df_151723 = pop_column(df_151723)
df_151722 = pop_column(df_151722)

In [11]:
df_151717

,Brottstyp,15 år,16 år,17 år,18 år,19 år,20 år,21-24 år
0,"Rån inkl. grovt (5, 6 §)",169,213.0,210.0,203.0,162.0,155.0,406
1,Olaga hot (5 §),577,646.0,671.0,532.0,487.0,441.0,1822
2,"Misshandel inkl. grov, ej med dödlig utgång (5...",1317,1336.0,1367.0,1241.0,1136.0,1033.0,4111
3,12 kap. Skadegörelsebrott,622,717.0,714.0,454.0,406.0,360.0,1353
4,6 kap. Sexualbrott,320,361.0,349.0,297.0,255.0,242.0,786
5,Brott mot narkotikastrafflagen,1077,1570.0,2038.0,2603.0,2525.0,2464.0,9358

## STEG 2: Skapa tidsserien X(t) för varje brottstyp

In [7]:
cols = ['År', 'Rån', 'Olaga hot', 'Misshandel', 'Skadegörelsebrott', 'Sexualbrott', 'Narkotikastrafflagen']
years = list(range(2015,2024))

df = pd.DataFrame(index=years, columns=cols)

df

,År,Rån,Olaga hot,Misshandel,Skadegörelsebrott,Sexualbrott,Narkotikastrafflagen
2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN