# Section

### Data 15-17 year olds.

In [1]:
import pandas as pd

In [2]:
df_151715 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2015.xls')
df_151716 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2016.xls')
df_151717 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2017.xls') 
df_151718 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2018.xls')
df_151719 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2019.xls')
df_151720 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2020.xlsx')
df_151721 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2021.xls')

def fix_df1521(df):
    # 1. Gör första kolumnen till index
    first_col = df.columns[0]
    df = df.set_index(first_col)

    def get_one(keyword):
        hits = df[df.index.str.contains(keyword, case=False, na=False)]
        if len(hits) == 0:
            return None
        return hits.iloc[[0]]  

    rows = [
        get_one('Rån inkl.'),                     
        get_one('Olaga hot'),
        get_one('Misshandel, totalt'),
        get_one('Misshandel inkl. grov'),
        get_one('Skadegörelsebrott'),
        get_one('Vapenbrott; innehav'),
        get_one('Sexualbrott'),
        get_one('narkotikastraf'),
    ]

    # Ta bort None och slå ihop
    df_out = pd.concat([r for r in rows if r is not None], axis=0)

    df_out = df_out.reset_index()
    return df_out


df_151715 = fix_df1521(df_151715)
df_151716 = fix_df1521(df_151716)
df_151717 = fix_df1521(df_151717)
df_151718 = fix_df1521(df_151718)
df_151719 = fix_df1521(df_151719)
df_151720 = fix_df1521(df_151720)
df_151721 = fix_df1521(df_151721)

'''Ny datafunktion nedan'''

df_151722 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2022.xlsx')
df_151723 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2023.xlsx')
df_151724 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2024.xlsx')

def fix_df2224(df):
    df.columns = df.iloc[0]
    df = df.iloc[1:].reset_index(drop=True)
    df_robbery = df.loc[df['Brottstyp'] == 'Rån, totalt']
    df_unlawful_threats = df.loc[df['Brottstyp'] == 'Olaga hot, totalt']
    df_physical_abuse = df.loc[df['Brottstyp'] == 'Misshandel, totalt']
    df_physical_abuse_nonfatal = df.loc[df['Brottstyp'] == 'Misshandel, ej med dödlig utgång, totalt']
    df_damage = df.loc[df['Brottstyp'] == 'Skadegörelsebrott, totalt']
    df_weapon = df.loc[df['Brottstyp'] == 'Vapenbrott; innehav, totalt']
    df_sexual_offence = df.loc[df['Brottstyp'] == 'Sexualbrott, totalt']
    df_drugs = df.loc[df['Brottstyp'] == 'Narkotikastrafflagen, totalt']
    df = pd.concat([
        df_robbery,
        df_unlawful_threats,
        df_physical_abuse,
        df_physical_abuse_nonfatal,
        df_damage,
        df_weapon,
        df_sexual_offence,
        df_drugs
    ], ignore_index=True)    
    return df
    
df_151722 = fix_df2224(df_151722)
df_151723 = fix_df2224(df_151723)
df_151724 = fix_df2224(df_151724)

In [3]:
df_151721

,Tabell 220,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,"Rån inkl. grovt (5, 6 §)",2960,240,276.0,239.0,233.0,204.0,185.0,520,403,397,171,55,16,21,277,2683,0
1,Olaga hot (5 §),19775,664,523.0,466.0,454.0,459.0,470.0,1856,2460,5082,3677,2293,1308,63,2977,16794,4
2,"Misshandel inkl. grov, ej med dödlig utgång (5...",36084,1487,1045.0,973.0,1034.0,974.0,950.0,3633,4480,9165,6472,3804,1975,92,7950,28118,16
3,12 kap. Skadegörelsebrott,10002,556,423.0,364.0,361.0,305.0,311.0,1153,1447,2380,1402,828,460,12,1671,8329,2
4,Vapenbrott; innehav (1 §),5187,134,128.0,147.0,192.0,228.0,202.0,736,823,1025,595,398,564,15,620,4561,6
5,6 kap. Sexualbrott,9765,423,341.0,282.0,373.0,303.0,347.0,1199,1282,2166,1446,909,605,89,283,9462,20
6,Brott mot narkotikastrafflagen,56047,1139,1562.0,2010.0,2899.0,3075.0,3174.0,11059,9962,12014,5406,2539,987,221,8598,47347,102

In [4]:
def clean_simple(df):
    # Byt namn på första kolumnen
    df = df.rename(columns={df.columns[0]: "Brottstyp"})
    
    # Ta bara kolumn 0–8 (Brottstyp + 8 ålderskolumner)
    df = df.iloc[:, :9]

    # Döp om kolumnerna
    df.columns = [
        "Brottstyp",
        "Samtliga personer misstänkta för brott",
        "15 år",
        "16 år",
        "17 år",
        "18 år",
        "19 år",
        "20 år",
        "21-24 år"
    ]
    
    return df
    
df_151715 = clean_simple(df_151715)
df_151716 = clean_simple(df_151716)
df_151717 = clean_simple(df_151717)
df_151718 = clean_simple(df_151718)
df_151719 = clean_simple(df_151719)
df_151720 = clean_simple(df_151720)
df_151721 = clean_simple(df_151721)
df_151715

,Brottstyp,Samtliga personer misstänkta för brott,15 år,16 år,17 år,18 år,19 år,20 år,21-24 år
0,"Rån inkl. grovt (5, 6 §)",2401,149,172.0,198.0,190.0,158.0,146.0,406
1,Olaga hot (5 §),19514,577,529.0,556.0,485.0,486.0,510.0,1978
2,"Misshandel inkl. grov, ej med dödlig utgång (5...",38433,1269,1151.0,1173.0,1263.0,1213.0,1232.0,4790
3,12 kap. Skadegörelsebrott,10590,525,540.0,484.0,447.0,456.0,399.0,1607
4,6 kap. Sexualbrott,6131,236,225.0,225.0,192.0,179.0,202.0,696
5,Brott mot narkotikastrafflagen,40732,871,1289.0,1683.0,2137.0,2291.0,2415.0,8868

In [5]:
df_151724 = df_151724.iloc[:,1:]
df_151723 = df_151723.iloc[:,1:]
df_151722 = df_151722.iloc[:,1:]

df_151724 = clean_simple(df_151724)
df_151723 = clean_simple(df_151723)
df_151722 = clean_simple(df_151722)

In [6]:
df_151722

,Brottstyp,Samtliga personer misstänkta för brott,15 år,16 år,17 år,18 år,19 år,20 år,21-24 år
0,"Rån, totalt",2498,243,213,160,207,143,140,431
1,"Olaga hot, totalt",18344,701,517,443,431,423,427,1640
2,"Misshandel, ej med dödlig utgång, totalt",35411,1495,1132,944,1027,941,928,3366
3,"Skadegörelsebrott, totalt",9310,460,357,281,268,254,296,1044
4,"Vapenbrott; innehav, totalt",5441,154,171,188,238,225,238,811
5,"Sexualbrott, totalt",9255,388,309,280,257,278,280,1165
6,"Narkotikastrafflagen, totalt",55396,1199,1678,1907,2979,3024,3018,10977