# Section

### Data 15-17 year olds.

In [1]:
import pandas as pd

In [2]:
df_151715 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2015.xls')
df_151716 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2016.xls')
df_151717 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2017.xls') 
df_151718 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2018.xls')
df_151719 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2019.xls')
df_151720 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2020.xlsx')
df_151721 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2021.xls')

def fix_df1521(df):
    df_robbery = df.loc[df['Brottstyp'] == 'Rån, totalt']
    df_unlawful_threats = df.loc[df['Brottstyp'] == 'Olaga hot, totalt']
    df_physical_abuse = df.loc[df['Brottstyp'] == 'Misshandel, totalt']
    df_physical_abuse_nonfatal = df.loc[df['Brottstyp'] == 'Misshandel, ej med dödlig utgång, totalt']
    df_damage = df.loc[df['Brottstyp'] == 'Skadegörelsebrott, totalt']
    df_weapon = df.loc[df['Brottstyp'] == 'Vapenbrott; innehav, totalt']
    df_sexual_offence = df.loc[df['Brottstyp'] == 'Sexualbrott, totalt']
    df_drugs = df.loc[df['Brottstyp'] == 'Narkotikastrafflagen, totalt']
    df = pd.concat([
        df_robbery,
        df_unlawful_threats,
        df_physical_abuse,
        df_physical_abuse_nonfatal,
        df_damage,
        df_weapon,
        df_sexual_offence,
        df_drugs
    ], ignore_index=True)
    
    return df

df_151722 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2022.xlsx')
df_151723 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2023.xlsx')
df_151724 = pd.read_excel('/Users/alvinalindqvist/Desktop/Projekt NY/220La-2024.xlsx')

def fix_df2224(df):
    df.columns = df.iloc[0]
    df = df.iloc[1:].reset_index(drop=True)
    df_robbery = df.loc[df['Brottstyp'] == 'Rån, totalt']
    df_unlawful_threats = df.loc[df['Brottstyp'] == 'Olaga hot, totalt']
    df_physical_abuse = df.loc[df['Brottstyp'] == 'Misshandel, totalt']
    df_physical_abuse_nonfatal = df.loc[df['Brottstyp'] == 'Misshandel, ej med dödlig utgång, totalt']
    df_damage = df.loc[df['Brottstyp'] == 'Skadegörelsebrott, totalt']
    df_weapon = df.loc[df['Brottstyp'] == 'Vapenbrott; innehav, totalt']
    df_sexual_offence = df.loc[df['Brottstyp'] == 'Sexualbrott, totalt']
    df_drugs = df.loc[df['Brottstyp'] == 'Narkotikastrafflagen, totalt']
    df = pd.concat([
        df_robbery,
        df_unlawful_threats,
        df_physical_abuse,
        df_physical_abuse_nonfatal,
        df_damage,
        df_weapon,
        df_sexual_offence,
        df_drugs
    ], ignore_index=True)
    
    return df
    
df_151722 = fix_df2224(df_151722)
df_151723 = fix_df2224(df_151723)
df_151724 = fix_df2224(df_151724)

In [3]:
df_151724

,Lagrum,Brottstyp,Samtliga personer misstänkta för brott,Personer 15 år,Personer 16 år,Personer 17 år,Personer 18 år,Personer 19 år,Personer 20 år,Personer 21-24 år,Personer 25-29 år,Personer 30-39 år,Personer 40-49 år,Personer 50-59 år,Personer 60 år eller äldre,Personer med okänd ålder,Antal kvinnor,Antal män,Personer med okänt kön
0,"8 kap. 5, 6 § BrB Rån inkl. grovt","Rån, totalt",2436,246,235,193,184,136,126,365,318,398,158,55,10,12,262,2174,0
1,4 kap. 5 § BrB Olaga hot,"Olaga hot, totalt",19373,748,564,514,449,436,402,1664,2185,5036,3815,2188,1334,38,3104,16262,7
2,"3 kap. 5, 6 § BrB Misshandel inkl. grov","Misshandel, totalt",38494,1687,1270,1116,1128,1043,946,3678,4306,9810,7194,3931,2306,79,8664,29810,20
3,12 kap. BrB Skadegörelsebrott,"Skadegörelsebrott, totalt",9108,417,335,289,261,256,247,949,1119,2450,1535,763,478,9,1651,7456,1
4,"Vapenlag (1996:67) 1, 1 a § Vapenbrott inkl. g...","Vapenbrott; innehav, totalt",6108,235,277,252,292,256,264,827,708,1077,606,449,851,14,711,5392,5
5,6 kap. BrB Sexualbrott,"Sexualbrott, totalt",9918,425,317,286,320,287,302,1179,1203,2301,1639,961,641,57,323,9585,10
6,Narkotikastrafflag (1968:64),"Narkotikastrafflagen, totalt",61977,1177,1687,2022,2731,2887,2921,10591,10466,15433,7100,3088,1519,355,10234,51567,176

In [5]:
def get_row(df, keyword):
    # hitta första kolumnen dynamiskt
    first_col = df.columns[0]

    # gör första kolumnen till index
    df = df.set_index(first_col)

    # sök efter rad där indexet innehåller keyword
    return df[df.index.str.contains(keyword, na=False)]
result = get_row(df_151721, 'Rån inkl. grovt')
result

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
Tabell 220,,,,,,,,,,,,,,,,,
"Rån inkl. grovt (5, 6 §)",2960,240,276.0,239.0,233.0,204.0,185.0,520,403,397,171,55,16,21,277,2683,0